body{
	margin: 0px;
}
div#container{
	-moz-box-shadow: inset 0 0 10px red;
	-webkit-box-shadow: inset 0 0 10px red;
	box-shadow: inset 0 0 10px red;
	background-color: black;
	height: 100%;
}
div#logindiv{
	padding-top: 100;
}
input#username{
	text-align: center;
	background-color: #e0e2e5;
	padding: 8px;
	border: 0px;
	font-family: Consolas;
}
input#password{
	text-align: center;
	background-color: #e0e2e5;
	padding: 8px;
	border: 0px;
	font-family: Consolas;
}
button#login{
	width: 100%;
	padding: 8px;
	border: 0px;
	font-family: Consolas;
}
footer#support{
	color: green;
	font-family: Consolas;
}
